<div class="fixed bg-gray-dark bottom-0 left-0 right-0 h-24 px-10 py-5 flex items-center justify-between border-t-2 border-orange">
    <div class="flex items-center">
        <button class="text-3xl text-gray-pale h-9"><mat-icon fontIcon="skip_previous" inline></mat-icon></button>
        <button class="w-14 h-14 text-gray-pale text-center align-middle mx-8 bg-orange rounded-full">
            <span class="text-3xl h-7.5">
                <mat-icon fontIcon="play_arrow" inline></mat-icon>
            </span>
        </button>
        <button class="text-3xl text-gray-pale h-9"><mat-icon fontIcon="skip_next" inline></mat-icon></button>
    </div>
    <div class="flex items-center text-gray-pale text-lg font-body w-2/3">
        <div class="mr-3">
            <span>0:05</span>
        </div>
        <div class="h-1 flex-1 bg-gray-light rounded-sm">
            <div class="h-full w-1/12 bg-orange rounded-sm relative">
                <div class="absolute h-2 w-2 bg-orange rounded right-0 -mr-1 top-0 -mt-0.5"></div>
            </div>
        </div>
        <div class="ml-3">
            <span>4:13</span>
        </div>
    </div>
    <div>
        <button class="text-gray-pale text-xl">
            <mat-icon fontIcon="volume_up" inline></mat-icon>
        </button>
        <button class="text-gray-pale text-xl ml-4">
            <mat-icon fontIcon="repeat" inline></mat-icon>
        </button>
        <button class="text-gray-pale text-xl ml-4">
            <mat-icon fontIcon="shuffle" inline></mat-icon>
        </button>
        <button class="text-gray-pale text-xl ml-4">
            <mat-icon fontIcon="queue_music" inline></mat-icon>
        </button>
    </div>
</div>